# dev files
glm
dev
dev.py
dev.ipynb
notes.md
sparkling_lake
grosse_dhuenn
*.DS_Store

*/__pycache__
*__pycache__
*.py[cod]

build
*.egg-info

.ruff_cache
.pytest_cache

# glm*/
glmpy/setup.py

sparkling.nml
# MkDocs documentation
site*/

notebooks/glmpy-demo/inputs



